{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <h1 class="mt-2">Products
        <a href="{{ path('product_add') }}" class="btn btn-success float-end">Add New</a>
    </h1>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ product.name }}</td>
                    <td>
                        {% if product.image %}
                            <img style="width: 60px;" src="{{ asset('product_images/' ~ product.image) }}" alt="{{ product.name }}">
                        {% else %}
                            <img style="width: 60px;" src="{{ asset('product_images/dummy_product_image.jpg') }}" alt="{{ product.name }}">
                        {% endif %}
                        
                    </td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a href="{{ path('product_show', {id: product.id}) }}" class="btn btn-sm btn-success">View</a>
                        <a href="{{ path('product_delete', {id: product.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are u sure?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
